# Archivo de confirguracion del communication server.

#URL de regreso exitoso de PayPal
PayPalRETURNURL=http://localhost:1056/PayPal/CompraExitosa


#URL de regreso cancelado de PayPal
PayPalCANCELURL=http://localhost:1056/PayPal/PagoCancelado


#cantidad de reintentos de coneccion con paypal
Intentos=3

